.joinus{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;

    .joinus-text{
        h2{
            font-size: 36px;

            @media screen and (max-width: 1200px){
                font-size: 22px;
            }
        }
        p{
            text-align: center;
            font-size: 16px;

            @media screen and (max-width: 1200px){
                font-size: 12px;
            }
        }
    }

    .joinus-button{
        padding: 16px 48px;
        background-color: #ffd050;
        border: none;
        font-weight: bold;
        margin-top: 20px;

        @media screen and (max-width: 1440px){
            div{
                a{
                    h2{
                        font-size: 16px;
                    }
                }
            }
        }
        
        @media screen and (max-width: 1200px){
            div{
                a{
                    h2{
                        font-size: 12px;
                    }
                }
            }
        }

        a{
            text-decoration: none;
            h2{
                margin: 0px;
                font-size: 20px;
                color: #232536;
            }
        }
    }

    .joinus-button:hover{
        transform: scale(1.1);
        transition: ease .5s;
        font-weight: bold;
        cursor: pointer;
        border: 1px solid orange;
        border-radius: 10px;
    }

    .joinus-button:not(:hover){
        transform: scale(1);
        transition: ease-in-out .2s;
    }
}