@import "../Components/font-sizes";

.subscribe{
    margin: 0 auto;
    padding-bottom: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 576px){
        padding: 0px 40px 40px 40px;
    }
    
    .subscribe-text{
        padding-bottom: 0px;

        h6{
            font-size: $h6-size;

            @media screen and (max-width: 576px){
                font-size: $h6-size-bg;
            }
        }

        h1{
            font-size: $h2-size;

            @media screen and (max-width: 576px){
                font-size: $h1-size-bg;
            }
        }
    }

    .subscribe-form{
        width: 50%;
        padding-top: 40px;

        .subscribe-form-inputs{
            display: flex;
            flex-direction: column;

            input, select{
                width: 100%;
                height: 40px;
                margin-bottom: 10px;
            }
        }

        .subscribe-form-button{
            margin-top: 40px;
            background-color: #ffd050;
            height: 42px;
            border: 1px solid #232536;
            border-radius: 0px;
            width: 100%;

            h2{
                margin-top: 6px;
                font-size: 20px;
                color: #232536;
            }
        }

        .subscribe-form-button:hover{
            transform: scale(1.1);
            transition: ease .5s;
            font-weight: bold;
            cursor: pointer;
            border: 1px solid orange;
            border-radius: 10px;
        }

        .subscribe-form-button:not(:hover){
            transform: scale(1);
            transition: ease-in-out .2s;
        }
    }
}