.header{
    width: 100vw;
    height: 80px; 
    display: flex;
    box-shadow: 1px 1px 5px #1b1f2b;
    position: fixed;
    top: 0;
    background-color:#142241;
    z-index: 10;
}

.header-logo{
    margin-left: 80px;
    width: 50%;
    display: flex;
    justify-content: left;
}

.header-logo h1{
    color: #f4f4f4;
    font-size: 30px;
}

.header-nav{
    display: flex;
    justify-content: right;
    margin-right: 80px;
    width: 60%;
}

.header-nav nav ul{
    margin-top: 30px;
    margin-right: 32px;
    height: 100%;
    display: flex;
    /*align-items: center;*/
    justify-content:flex-end;
    list-style-type: none;
}

.header-nav nav ul li a {
    color: #f4f4f4;
    margin-right: 24px;
    font-size: 16px;
    text-decoration: none;
}

.header-nav input {
    background-color: #f4f4f4;
    border-style: none;
    border-radius: 0px;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 180px;
}
