.header{
    width: 100vw;
    height: 80px; 
    display: flex;
    box-shadow: 1px 1px 5px #1b1f2b;
    position: fixed;
    top: 0;
    background-color:#232536;
    z-index: 10;

    @media screen and (max-width: 576px) {
        height: 40px; /*Ajuste da altura do header para mobile*/
    }

}

.header-logo{
    margin-left: 80px;
    width: 50%;
    display: flex;
    justify-content: left;
    
    h1{
        color: #f4f4f4;
        font-size: 30px;
        
        @media screen and (max-width: 1200px){
            font-size: 24px; /*Ajuste da altura do font para tablet*/
        }
        
        @media screen and (max-width: 576px) {
            font-size: 18px; /*Ajuste da altura do font para mobile*/
        }
    }
}

.header-nav{
    display: flex;
    justify-content: right;
    margin-right: 80px;
    width: 60%;

    nav{
        ul{
            margin-top: 30px;
            height: 100%;
            display: flex;
            /*align-items: center;*/
            justify-content:flex-end;
            list-style-type: none;

            li{
                margin-right: 32px;
                a{
                    color: #f4f4f4;
                    margin-right: 24px;
                    font-size: 16px;
                    text-decoration: none;

                    @media screen and (max-width: 1200px) {
                        font-size: 14px; /*Ajuste da altura do font para tablet*/
                    }

                }
            }
            
            @media screen and (max-width: 576px) {
                display: none /*Esconde os botoes do nav*/
            }

            li:hover{
                transform: scale(1.1);
                transition: ease .5s;
                font-weight: bold;
            }

            li:not(:hover){
                transform: scale(1);
                transition: ease-in-out .2s;
            }
        }
    }
    
    input{
        background-color: #f4f4f4;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #232536;
        font-size: 16px;
        border-style: none;
        border-radius: 0px;
        margin-top: 12px;
        margin-bottom: 12px;
        width: 180px;

        @media screen and (max-width: 1200px) {
            width: 140px;  /*Ajuste da altura da largura do botao para tablet*/
        }
      
        @media screen and (max-width: 576px) {
            display: none /*Esconde os botoes do nav*/
        }
    }

    input:hover{
        transform: scale(1.1);
        transition: ease .5s;
        font-weight: bold;
        cursor: pointer;
    }

    input:not(:hover){
        transform: scale(1);
        transition: ease-in-out .2s;
    }

    .header-nav-hamburguer{
        display: none;
    }
    
    @media screen and (max-width: 576px) {
        .header-nav-hamburguer{
            display: block;
            
            ul{
                li{
                    display: block;
                }
            }
        }
    }
    
}

@media screen and (max-width:1400px){
    .header-nav{
        nav{
            ul{
                li{
                    font-size: 8px;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .header-logo {
        margin-left: 20px; /*Ajuste da margem para tablet*/
        width: 40%; /*Ajuste da margem para mobile*/
    }
  
    .header-nav {
        margin-right: 20px; /*Ajuste da margem para tablet*/
        width: 40%; /*Ajuste da margem para mobile*/ 
    }

}