.hidden{
    display: none;
}

.carroussel{
    .carroussel-inner{
        width: 100%;


        .carroussel-item-img{
            position: relative;
            width: 100%;
        }

        .carroussel-item-textbox{
            right: 0px;
            top: 0px;
            left: 0px;
            bottom: 0px;
            position: absolute;
        }
    }
    .carroussel-navigation{
        position: absolute;
    }
}