@font-face{
  font-family: Normal;
  src: url(./Sen-Regular.ttf)
}

@font-face {
  font-family: bold;
  src: url(./Sen-Bold.ttf);
}
  
@font-face {
  font-family: extraBold;
  src: url(./Sen-ExtraBold.ttf);
}
