.featuredPost{
    background-color: #f4f4f4;
    display: flex;
    padding: 80px;

    .featuredPost-text{
        width: 50%;
        padding-right: 100px;

        h2{
            margin-bottom: 10px;
        }

        p{
            margin-top: 20px;
        }

        .featuredPost-text-button{
            margin-top: 50px;
            width: 130px;
            padding: 16px 32px;
            background-color: #ffd050;
            border: none;
            font-weight: bold;

            a{
                text-decoration: none;
                h2{
                    margin: 0px;
                    font-size: 20px;
                    color: black;
                }
            }
        }

        .featuredPost-text-button:hover{
            transform: scale(1.1);
            transition: ease .5s;
            font-weight: bold;
            cursor: pointer;
            border: 1px solid orange;
            border-radius: 10px;
        }

        .featuredPost-text-button:not(:hover){
            transform: scale(1);
            transition: ease-in-out .2s;
        }
    }

    .featuredPost-img{
        width: 50%;
    }
}