@import "../font-sizes";

.slider {
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 576px){
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;
    } 
  
    .slider-selector {
      display: flex;
      width: 100%;
      height: 25px;
  
        .slider-selector-white {
            background-color: #f4f4f4;
            width: 20%;
            
            &.active{
                width: 60%;
                background-color: rgb(145, 145, 145);
            }
        }
        
        .slider-selector-white:hover{
            background-color: rgb(145, 145, 145);
        }
        
        .slider-selector-yellow {
            background-color: #ffd050;
            width: 20%;

            &.active{
                width: 60%;
                background-color: rgb(226, 185, 71);
            }

        }

        .slider-selector-yellow:hover{
            background-color: rgb(226, 185, 71);
        }
    
        .slider-selector-blue {
            background-color: #232536;
            width: 20%;

            &.active{
                width: 60%;
                background-color: rgb(24, 26, 37);
            }
        }

        .slider-selector-blue:hover{
            background-color: rgb(24, 26, 37);
        }

    }
  
    .slider-articles {
        display: flex;
        padding: 100px 80px;
        background-color: #f4f4f4;

        h2{
            font-size: $h2-size;
        }

        @media screen and (max-width: 576px){
            padding: 40px 0px;
        }
        
        @media screen and (max-width: 1200px){
            h3{
                font-size: $h3-size-bg;
            }
            h2{
                font-size: $h2-size-bg;
            }
        }

        a{
            text-decoration: none;
        }

        a:hover{
            transform: scale(1.1);
            transition: ease .5s;
            font-weight: bold;
        }

        a:not(:hover){
            transform: scale(1);
            transition: ease-in-out .2s;
        }

        .slider-article-white,
        .slider-article-yellow,
        .slider-article-blue {
            display: none;
    
            &.active {
                display: flex;
            }
        }

        @media screen and (max-width: 576px){
            .slider-article-white,
            .slider-article-yellow,
            .slider-article-blue {
            display: none;
    
                &.active {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    
                }

                .slider-articles-post1, 
                .slider-articles-post2{
                    padding: 0px;
                    margin-top: 20px;
                }
            }   
        }
    
        .slider-articles-post1 {
            width: 50%;
            padding-right: 40px;
        }
    
        .slider-articles-post2 {
            width: 50%;
            padding-left: 40px;
        }
    }
}