
//FONT SIZES 

$title-size: 56px;
$h1-size: 48px;
$h2-size: 36px;
$h3-size: 28px;
$h4-size: 24px;
$h5-size: 20px;
$h6-size: 16px;
$p1-size: 16px;
$p2-size: 14px;
$label-size: 12px;

$title-size-bg: 30px;
$h1-size-bg: 24px;
$h2-size-bg: 18px;
$h3-size-bg: 16px;
$h4-size-bg: 14px;
$h5-size-bg: 12px;
$h6-size-bg: 12px;
$p1-size-bg: 12px;
$p2-size-bg: 10px;
$label-size-bg: 8px;

$title-size-md: 24px;
$h1-size-md: 20px;
$h2-size-md: 16px;
$h3-size-md: 14px;
$h4-size-md: 12px;
$h5-size-md: 10px;
$h6-size-md: 8px;
$p1-size-md: 8px;
$p2-size-md: 8px;
$label-size-md: 8px;
