@import "./Assets/Fonts/fonts.scss"; 
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');
  
body{
    min-height: 100vh;
    font-family: 'Sen', sans-serif;
}
  
img, picture,svg,video{
    display:block;
    max-width:100%;
}

#root{
    padding-top: 80px;
}

@media screen and (max-width:576px){
    #root{
        padding-top: 40px;
    }
}