@import "./Assets/Fonts/fonts.scss"; 
  
body{
    min-height: 100vh;
    
}
  
img, picture,svg,video{
    display:block;
    max-width:100%;
}

#root{
    padding-top: 80px;
}

@media screen and (max-width:576px){
    #root{
        padding-top: 40px;
    }
}