@import "../font-sizes";
@import "../mixins";

.footer-wrapper {
    height: auto;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #232536;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 1440px){
        padding-left: 70px;
        padding-right: 70px;
    }

    @media screen and (max-width: 1200px){
        padding-left: 60px;
        padding-right: 60px;
    }

    @media screen and (max-width: 576px){
        padding-left: 40px;
        padding-right: 40px;
    }

    .footer-nav{
        display: flex;

        @media screen and (max-width: 576px){
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .footer-nav-logo{
           width: 40%;

            @media screen and (max-width: 576px){
                width: 100%;
                margin-bottom: 0;
            }  

            h1{
                a{
                    text-decoration: none;
                    color: #f4f4f4;
                    font-size: $title-size-bg;
                }
            
                @media screen and (max-width: 1200px){
                    font-size: $h1-size-bg;
                }  
            }

            h1:hover{
                a{
                    color: darken(#f4f4f4, 30%);
                }
            }
        }

        .footer-nav-links{
            display: flex;
            justify-content: right;
            //background-color: blue;
            width: 60%;

            nav{
                ul{
                    margin-right: 64px;
                    display: flex;
                    justify-content: flex-end;
                    list-style-type: none;

                    li{
                        margin-top: 10px;
                        margin-right: 40px;

                        a{
                            color: #f4f4f4;
                            margin-right: 24px;
                            font-size: $p1-size;
                            text-decoration: none;

                            @media screen and (max-width: 1200px){
                                font-size: $p2-size;
                            }

                            @media screen and (max-width: 576px){
                                margin-right: 0;
                            }
                        }

                        @media screen and (max-width: 1440px){
                            margin-right: 30px;
                        }

                        @media screen and (max-width: 1200px){
                            margin-right: 20px;
                        }


                    }

                    li:hover{
                        transform: scale(1.1);
                        transition: ease .5s;
                        font-weight: bold;
                    }
        
                    li:not(:hover){
                        transform: scale(1);
                        transition: ease-in-out .2s;
                    }

                    @media screen and (max-width: 1440px){
                        margin-right: 48px;
                    }

                    @media screen and (max-width: 1200px){
                        margin-right: 40px;
                    }

                    @media screen and (max-width: 576px){
                        justify-content: center;
                    }

                }
            }

            @media screen and (max-width: 576px){
                width: 100%;
            }
        }
    }

    .footer-subs{
        height: 256px;
        background-color: rgba(256,256,256, 0.05);  // Set the desired background color
        display: flex;

        .footer-subs-title{
            padding: 45px 64px;
            width: 50%;
            font-size: $h2-size-bg;

            h1{
                text-align: left;
                color: #f4f4f4;
                
                @media screen and (max-width: 576px){
                    text-align: center;
                }
            }

            @media screen and (max-width: 1200px){
                font-size: $h6-size-bg;
            }

            @media screen and (max-width: 576px){
                width: 100%;
                padding: 0;
            }
        }

        .footer-subs-inputs{
            display: flex;
            padding: 100px 64px;
            width: 50%;

            @media screen and (max-width: 1200px){
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin-right: 70px;
                margin-right: 0px;
            }

            @media screen and (max-width: 576px){
                align-items: center;
            }

            .footer-subs-inputs-email{
                input{
                    height: 40px;
                    width: 250px;
                    background-color: rgba(256,256,256, 0.05);
                    border: 1px solid #232536;
                    border-radius: 0px;
    
                    &::placeholder{
                        color: #232323;
                    }
    
                    @media screen and (max-width: 1200px){
                        margin-top: 35px;
                    }
    
                    @media screen and (max-width: 576px){
                        margin: 10px auto;
                    }
                }
            }

            .footer-subs-inputs-button{
                @include button(#ffd050,#232523);
                padding: 0px 32px 0px 32px;
                margin-left: 50px;
                height: 40px;

                a{
                    text-align: center;

                    h2{
                        margin-top: 6px;
                        font-size: $h5-size;
                    }
                }

                @media screen and (max-width: 1200px){
                    margin-top: 35px;
                    height: 35px;
                }

                @media screen and (max-width: 576px){
                    margin: 10px auto;
                }
            }

            .footer-subs-inputs-button:hover{
                transform: scale(1.1);
                transition: ease .5s;
                font-weight: bold;
                cursor: pointer;
                border: 1px solid orange;
                border-radius: 10px;
            }

            .footer-subs-inputs-button:not(:hover){
                transform: scale(1);
                transition: ease-in-out .2s;
            }

            @media screen and (max-width: 1200px){
                padding: 30px 40px;
            }

            @media screen and (max-width: 576px){
                width: 100%;
                padding: 40px 0;
            }
        }

        @media screen and (max-width: 576px){
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 20px 20px 30px 20px;
            margin: 0;
        }
    }

    .footer-info{
        padding-top: 10px;
        display: flex;

        .footer-info-address{
            padding-bottom: 10px;
            width: 50%;

            p{
                color: #f4f4f4;
                font-size: $p1-size;
            }

            @media screen and (max-width: 576px){
                width: 100%;
                margin-bottom: 20px;
                padding: 0;
            }
        }

        .footer-info-socialmedia{
            width: 50%;
            nav{
                ul{
                    padding-top: 10px;
                    display: flex;
                    list-style-type: none;
                    justify-content: right;
                    li{
                        margin-left: 40px;

                        img{
                            height: 30px;
                            width: 30px;
                            filter: grayscale(100%);
                        }
                    }

                    li:hover{
                        transform: scale(1.5);
                        transition: ease .5s;
                        font-weight: bold;
                        cursor: pointer;
                    }
        
                    li:not(:hover){
                        transform: scale(1);
                        transition: ease-in-out .2s;
                    }

                    @media screen and (max-width: 576px){
                        justify-content: center;
                        padding: 0;
                    }
                }
            }

            @media screen and (max-width: 576px){
                width: 100%;
                margin-bottom: 20px;
                padding: 0;
            }
        }

        @media screen and (max-width: 576px){
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
}
