.testimonials {
    background-color: #f4f4f4;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 80px;
    display: flex;
  
    .testimonials-text {
        padding: 80px;
        width: 40%;
  
        h3, p {
        font-size: 16px;
        }
  
        h2 {
            font-size: 36px;
        }
    }
  
    .testimonials-carousel {
        padding: 80px;
        width: 60%;
  
        .testimonials-carousel-inner {
            .testimonials-carousel-slide {
                display: none;
  
                &.active {
                    display: block;
                }
            }
  
            .testimonials-carousel-content {
                font-size: 20px;
            }
  
        .testimonials-carousel-content-author {
          display: flex;
          justify-content: space-between;
  
            .testimonials-carousel-content-author-photo {
                div {
                    display: flex;
                    align-items: center;
    
                    h2 {
                        margin-left: 30px;
                        font-size: 24px;
                    }
    
                    img {
                        width: 48px;
                        height: 48px;
                    }
                }
    
                p {
                    font-size: 16px;
                }
            }
  
            .testimonials-carousel-content-author-arrows {
                display: flex;
  
                .testimonials-carousel-control {
                    margin-right: 20px;
                    cursor: pointer;
                }
          }
        }
      }
    }
}